projectINF421-2025.pdf
# --- C++ Build Artifacts ---
build/
bin/
*.o                     
*.a
*.so
path_planner

# --- CMake Junk ---
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# --- Latex Junk ---
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz

# --- Python Junk ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# --- IDE & OS ---
.vscode/


# --- Data Output ---
*.txt
!assets/scenarios/*.txt

output/paths/*.txt
!output/paths/.gitkeep